@import '~@fluentui/react/dist/sass/References.scss';

.answer {
    font-size: clamp(18px, 4vw, 16px);
    font-weight: 400;
    border: 1px solid "[theme:bodyDivider, default: #c8c6c4]";
    border-radius: 16px;
    margin-top: clamp(13px, calc(10px + 6 * ((100vw - 600px) / 1320)), 16px);
    cursor: pointer;

    input {
        visibility: hidden;
        margin: 0;
    }
}

.selected {
    background-color: #FFD6FF;
    color: "[theme:themeLight, default: #ffffff]";
    color: var(--themeLight);
    border: 1px solid #800080;

}

label {
    padding: 18px;
    display: flex;
    cursor: pointer;
}