@import '~@fluentui/react/dist/sass/References.scss';

.container {
    min-width: 773px;
    min-height: 620px;
    padding: 50px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);
}

p {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);
}

.button {
    width: 195px;
    min-height: 50px;
    font-size: clamp(16px, 5vw, 24px);
    display: flex;
    justify-content: center;
    align-items: center;

}